html {
  margin: 0px;
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Exo', sans-serif;
  background-color: transparent;
  margin: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#cartImage {
  max-width: 250px;
}

#logo {
  height: 90px;
}

#navbar {
  top: 0;
  width: 100%;
  height: 100px;
  margin: 0px;
  display: flex;
  background-color: #cfd7c7;
  color: white;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid black;
  min-width: 1000px;
  position: absolute;
  top: 0%;
}

.login {
  margin-top: 120px;
  margin-left: 20px;
}

#leftNB {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 50px;
  width: 10%;
  min-width: 150px;
  max-width: 175px;
  font-size: 20px;
}

#navItem {
  color: #0b2027;
}

#navItem:hover {
  transform: scale(1.1);
}

#GC {
  margin: 0px 50px 0px 0px;
  font-family: 'Hanalei Fill', cursive;
  color: #40798c;
  font-size: 36px;
  transition-duration: 1s;
}

#GC:hover {
  color: white;
}

#landingPage {
  width: 100vw;
  height: 100vh;
  min-width: 1200px;
  min-height: 800px;
  position: absolute;
  z-index: 1;
}

#enterSiteButton {
  background-color: orange;
  border: none;
  border-radius: 15px;
  width: 300px;
  height: 75px;
  font-size: 25px;
  z-index: 2;
  position: absolute;
  margin-top: 85vh;
  margin-left: 7.5vw;
  transition-duration: 0.5s;
  cursor: pointer;
}

#enterSiteButton:hover {
  background-color: rgb(179, 118, 4);
}

#singleProductImage {
  max-width: 700px;
  height: auto;
  object-fit: contain;
}

#allProducts {
  width: 75%;
  display: flex;
  min-width: 800px;
}

#sideNavBar {
  float: left;
  height: 100vh;
  width: 300px;
  margin-right: 15px;
  margin-left: 0px;
  margin-top: 100px;
  background-color: rgba(28, 28, 28, 0.851);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  color: white;
}

#cart {
  background-color: violet;
  float: right;
  width: 100%;
}

#productsList {
  margin-left: 400px;
  margin-top: 100px;
  height: 100vh;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.productContainer {
  margin-top: 36px;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  min-width: 550px;
  background-color: rgba(191, 191, 191, 0.851);
}

#mpImage {
  width: 300px;
  max-height: 170px;
  margin-top: 20px;
  margin-left: 75px;
}

#allProductsButton {
  margin-left: 75%;
  margin-bottom: 20px;
  width: 20%;
  cursor: pointer;
}

#addToCart {
  height: 50px;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  transition-duration: 0.15s;
  font-size: 15px;
  color: white;
  background-color: rgb(25, 47, 55);
}

#addToCart:hover {
  transform: scale(1.05);
}

#mpName {
  margin-left: 12.5%;
  font-family: 'Hanalei Fill', cursive;
}

#mpDesign {
  margin-left: 25%;
  font-family: 'Fredoka One', cursive;
}

#mpColor {
  margin-left: 37.5%;
  font-family: 'Fredoka One', cursive;
}

#mpPrice {
  margin-left: 50%;
  font-family: 'Fredoka One', cursive;
}

li {
  cursor: pointer;
}

li:hover {
  transform: scale(1.05);
}

.filterType {
  cursor: default;
}


#orders {
  color: white;
}

#loginDiv {
  margin-top: 120px;
  margin-left: 25px;
}
