html {
  margin: 0px;
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Exo', sans-serif;
  background-color: transparent;
  margin: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#logo {
  height: 90px;
}

#navbar {
  top: 0;
  width: 100%;
  height: 100px;
  margin: 0px;
  display: flex;
  background-color: #cfd7c7;
  color: white;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid black;
  min-width: 1000px;

  position: fixed;
  z-index: 1;
}

#leftNB {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 50px;
  width: 10%;
  min-width: 150px;
  max-width: 175px;
  font-size: 20px;
}

#navItem {
  color: #0b2027;
}

#navItem:hover {
  transform: scale(1.1);
}

#GC {
  margin: 0px 50px 0px 0px;
  font-family: 'Hanalei Fill', cursive;
  color: #40798c;
  font-size: 36px;
  transition-duration: 1s;
}

#GC:hover {
  color: white;
}

#landingPage {
  width: 100vw;
  height: 100vh;
  min-width: 1200px;
  min-height: 800px;
  position: absolute;
  z-index: 1;
}

#enterSiteButton {
  background-color: orange;
  border: none;
  border-radius: 15px;
  width: 300px;
  height: 75px;
  font-size: 25px;
  z-index: 2;
  position: absolute;
  margin-top: 85vh;
  margin-left: 7.5vw;
  transition-duration: 0.5s;
  cursor: pointer;
  outline: none;
}

#enterSiteButton:hover {
  background-color: rgb(179, 118, 4);
}

#allProducts {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 800px;
}

#sideNavBar {
  float: left;
  height: 100vh;
  width: 20%;
  min-width: 150px;
  max-width: 250px;
  margin-right: 15px;
  margin-left: 0px;
  margin-top: 100px;
  background-color: rgba(28, 28, 28, 0.851);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  left: 0;
  color: white;
}

#cart {
  background-color: rgba(237, 237, 237, 0.392);
  margin-top: 50px;
  right: 0;
  width: 20vw;
  max-width: 400px;
  /* min-height: 25vh; */
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cartTitle {
  font-family: 'Fredoka One', cursive;
}

#cartItem {
  background-color: rgba(65, 65, 65, 0.405);
  margin-bottom: 15px;
  width: 80%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

#cartImage {
  width: 75%;
  max-width: 250px;
  margin-left: 5px;
}

#ciName {
  margin-left: 10px;
  font-family: 'Fredoka One', cursive;
}

#ciPrice {
  font-family: 'Fredoka One', cursive;
  margin-left: 20px;
}

#removeFromCart {
  border: none;
  cursor: pointer;
  background-color: rgb(238, 107, 107);
  border-radius: 15px;
  margin-bottom: 10px;
  width: 100px;
  align-self: center;
  transition-duration: 0.5s;
  outline: none;
}

#removeFromCart:hover {
  background-color: rgb(194, 53, 53);
}

#productsList {
  margin-top: 100px;
  height: 100vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productContainer {
  margin-top: 18px;
  margin-bottom: 18px;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  /* min-width: 550px; */
  background-color: rgba(191, 191, 191, 0.851);
}

#mpImage {
  width: 33%;
  max-width: 300px;
  max-height: 170px;
  margin-top: 20px;
  margin-left: 75px;
  cursor: pointer;
}

@keyframes ride {
  0% {
    margin-left: 75px;
  }
  100% {
    margin-left: 100%;
    transform: rotate(-20deg);
  }
}

#mpImageRide {
  width: 33%;
  max-width: 300px;
  max-height: 170px;
  margin-top: 20px;
  margin-left: 75px;
  animation-name: ride;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45);
}

#allProductsButton {
  margin-left: 75%;
  margin-bottom: 20px;
  width: 20%;
  cursor: pointer;
  outline: none;
}

#addToCart {
  height: 50px;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  transition-duration: 0.15s;
  font-size: 15px;
  color: white;
  background-color: rgb(25, 47, 55);
  outline: none;
}

#addToCart:hover {
  transform: scale(1.05);
}

#clearCart {
  border: none;
  cursor: pointer;
  background-color: rgb(218, 75, 75);
  border-radius: 15px;
  margin-bottom: 15px;
  width: 125px;
  height: 36px;
  align-self: center;
  transition-duration: 0.5s;
  outline: none;
}

#clearCart:hover {
  background-color: rgb(174, 30, 30);
}

#gCheckout {
  border: none;
  cursor: pointer;
  background-color: rgb(51, 163, 45);
  border-radius: 15px;
  margin-bottom: 15px;
  width: 125px;
  height: 36px;
  align-self: center;
  transition-duration: 0.5s;
  outline: none;
}

#gCheckout:hover {
  background-color: rgb(30, 123, 26);
}

#fullCartDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#small {
  font-size: 16px;
}

#mpName {
  margin-left: 12.5%;
  font-family: 'Hanalei Fill', cursive;
  cursor: pointer;
}

#mpDesign {
  margin-left: 25%;
  font-family: 'Fredoka One', cursive;
}

#mpColor {
  margin-left: 37.5%;
  font-family: 'Fredoka One', cursive;
}

#mpPrice {
  margin-left: 50%;
  font-family: 'Fredoka One', cursive;
}

#mpQuantity {
  margin-left: 62.5%;
  font-family: 'Fredoka One', cursive;
  font-size: 12px;
}

#spQuantity {
  margin-left: 56%;
  font-family: 'Fredoka One', cursive;
  font-size: 12px;
}

li {
  cursor: pointer;
}

li:hover {
  transform: scale(1.05);
}

.filterType {
  cursor: default;
  margin-left: 20%;
}

#profile {
  color: white;
  position: absolute;
  margin-top: 150px;
  margin-left: 25px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  min-width: 395px;
}

#loginDiv {
  position: absolute;
  margin-top: 120px;
  margin-left: 25px;
  background-color: rgba(208, 208, 208, 0.652);
  padding: 20px;
  border-radius: 15px;
}

#checkoutTotal {
  font-size: 20px;
}

#filterTitle {
  text-align: center;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
  margin-top: 25px;
  align-self: center;
}

#filterType {
  color: white;
}

#filterTypeSelected {
  color: aquamarine;
}

#resetFilter {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
  width: 65%;
  height: 36px;
  background-color: rgb(116, 168, 228);
  transition-duration: 0.5s;
  align-self: center;
}

#resetFilter:hover {
  background-color: rgb(67, 121, 184);
}

#singleProduct {
  margin-top: 125px;
  margin-left: 50px;
  width: 70%;
  position: absolute;
  border-radius: 20px;
  background-color: rgba(191, 191, 191, 0.851);
  min-width: 720px;
  display: flex;
  flex-direction: column;
}

#addToCartSingle {
  height: 50px;
  width: 30%;
  margin-left: 65%;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  transition-duration: 0.15s;
  font-size: 15px;
  color: white;
  background-color: rgb(25, 47, 55);
  outline: none;
}

#addToCartSingle:hover {
  transform: scale(1.05);
}

#singleProductImage {
  z-index: 3;
  width: 45%;
  max-width: 450px;
  max-height: 255px;
  margin-top: 20px;
  margin-left: 75px;
}

#singleProductImageRide {
  z-index: 3;
  width: 45%;
  max-width: 450px;
  max-height: 255px;
  margin-top: 20px;
  margin-left: 75px;
  animation-name: ride;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45);
}

#singleProductDescription {
  width: 100px;
  height: 100px;
  background-color: rgba(95, 158, 160, 0.357);
  margin-right: 15px;
  margin-top: 15px;
  width: 40%;
  height: 90%;
  border-radius: 15px;
  line-height: 25px;
  padding: 10px;
  z-index: 2;
}

#imageAndDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#goBack {
  border: none;
  cursor: pointer;
  background-color: rgb(218, 75, 75);
  border-radius: 15px;
  margin-bottom: 15px;
  width: 125px;
  height: 36px;
  align-self: center;
  transition-duration: 0.5s;
  outline: none;
}

#goBack:hover {
  background-color: rgb(174, 30, 30);
}

#finalize {
  border: none;
  cursor: pointer;
  background-color: rgb(51, 163, 45);
  border-radius: 15px;
  margin-bottom: 15px;
  width: 125px;
  height: 36px;
  align-self: center;
  transition-duration: 0.5s;
  outline: none;
}

#finalize:hover {
  background-color: rgb(30, 123, 26);
}

#finalizeDisabled {
  border: none;
  cursor: not-allowed;
  background-color: rgb(39, 63, 37);
  border-radius: 15px;
  margin-bottom: 15px;
  width: 125px;
  height: 36px;
  align-self: center;
  transition-duration: 0.5s;
  outline: none;
  color: rgb(181, 181, 181);
}

#newOrder {
  border: none;
  cursor: pointer;
  background-color: rgb(116, 168, 228);
  border-radius: 15px;
  margin-bottom: 15px;
  width: 125px;
  height: 36px;
  align-self: center;
  transition-duration: 0.5s;
  outline: none;
}

#newOrder:hover {
  background-color: rgb(67, 121, 184);
}

#guestMessage {
  text-align: center;
  width: 80%;
  margin-bottom: 36px;
}

#checkoutInput {
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

#checkoutForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#checkoutItems {
  margin-top: 15px;
  margin-bottom: 0px;
}

#checkoutTotal {
  margin-bottom: 36px;
}

#confMessage {
  text-align: center;
  margin: 10px;
}

#confMessageNum {
  margin: 10px 10px 25px 10px;
  color: rgb(13, 15, 155);
}

#noMatch {
  margin-top: 150px;
  color: white;
}

#changesSaved {
  margin-top: 150px;
  margin-left: 25px;
  background-color: rgba(199, 197, 197, 0.5);
  border-radius: 15px;
  position: absolute;
  width: 250px;
  padding: 25px;
}

#updateProfile {
  background-color: rgba(199, 197, 197, 0.5);
  border-radius: 15px;
  padding: 25px;
}

#userOrders {
  background-color: rgba(199, 197, 197, 0.5);
  border-radius: 15px;
  padding: 25px;
  width: 45%;
  text-align: center;
}

#singleOrder {
  background-color: rgba(199, 197, 197, 0.5);
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
}

#orderNumber {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 10px;
}

#adminTools {
  color: azure;
}
